.dropItem-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;       
    padding-bottom: 20px;
}

.about.dropItem-wrapper
{   
    width: 90%;
    margin: 0 auto;    
}

.housing.dropItem-wrapper
{   
    width: 48%;    
}

.dropItem-wrapper-title, .dropItem-wrapper-detail 
{    
    padding: 10px 20px;  
    border-radius: 5px;
}

.about.dropItem-wrapper-title, .about.dropItem-wrapper-detail 
{    
    font-size: 24px;
}

.housing.dropItem-wrapper-title, .housing.dropItem-wrapper-detail 
{    
    font-size: 18px;
}

.dropItem-wrapper-title
{   
    display: flex;    
    justify-content: space-between;  
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);  
    color: var(--secondary-color);    
    cursor: pointer;
    font-weight: 500;
}

.dropItem-wrapper-detail 
{   
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    font-weight: 400;
}

.housing.dropItem-wrapper-detail
{   
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;     
}

.dropItem-wrapper-detail li
{   
    list-style: none;
}

.dropItem-wrapper-title > img
{
    width: 24px;
    height: 16px;    
}

/* MOBILES */
@media screen and (max-width: 767px)
{
    .about.dropItem-wrapper, .housing.dropItem-wrapper
    {   
        width: 100%;        
    }

    .about.dropItem-wrapper-title, .housing.dropItem-wrapper-title
    {
        font-size: 13px;
    }
    
    .about.dropItem-wrapper-detail, .housing.dropItem-wrapper-detail
    {
        font-size: 12px;
    }
    
    .dropItem-wrapper-title > img
    {
        width: 15px;
        height: 10px;    
    }

}