.error-container 
{
    display: flex;    
    flex-direction: column;
    align-items: center;    
    background-color: transparent;     
    color: var(--primary-color);
}

.error-container-title, .error-container-text, .error-container-return 
{    
    text-align: center;
}

.error-container-title
{
    margin-top: 70px;
    font-size: 288px;    
    font-weight: 700;
}

.error-container-text
{
    margin-top: 60px;
    font-size: 36px;
    font-weight: 500;
}

.error-container-return 
{    
    margin: 160px 0;
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 500;
}

/* MOBILES */
@media screen and (max-width: 767px)
{
    .error-container-title
    {
        font-size: 96px;        
    }
       
    .error-container-text
    {
        font-size: 18px; 
        margin-top: 11px;       
    }
    
    .error-container-return 
    {    
        margin: 150px 0;
        font-size: 14px;                
    }
}