@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500");

body *
{
    font-family: 'Montserrat', sans-serif;        
    margin: 0;
    padding: 0;   
    --primary-color:  #ff6060; 
    --secondary-color:  #ffffff;     
    --tertiary-color:  #000000;
    --quaternary-color:  #f7f7f7;
    box-sizing: border-box;        
}
