.header-container
{   width: 95%;      
    margin: 40px auto;
    display: flex;    
    justify-content: space-between;
    align-content: center;        
}

.header-container-logo
{
    width: 210px;    
    height: 68px;
    
}

/* MOBILES */
@media screen and (max-width: 767px)
{    
    .header-container-logo
    {
        width: 145px;    
        height: 47px;    
    }
}