.home-whole-page 
{    
    width: 100%;
    min-width: 375px;    
}

.home-main 
{    
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;      
}

.home.main-banner
{
    width: 95%;
    height: 223px;   
    position: relative;   
    margin-bottom: 10px; 
    border-radius: 25px;            
}

.home.main-banner-image
{
    width: 100%;
    height: 100%;    
    object-position: center;
    object-fit: cover; 
    border-radius: 25px;   
}

.home.main-banner-text
{
    width: 100%;
    height: 223px;   
    position: absolute; 
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;     
}

.home.main-banner-text p
{
    color: var(--secondary-color);
    font-size: 48px;
    font-weight: 500;          
}

.home-main-gallery
{
    width: 95%;    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
    background-color: var(--quaternary-color);  
    padding: 55px 0;
    border-radius: 25px;
}

.home-main-gallery a {
    text-decoration: none;
}

.home-main-gallery-card
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    width: 340px;   
    height: 340px;
    margin: 25px 30px;
    border-radius: 10px;        
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-main-gallery-card > p
{   width: 300px; 
    height: 52px;
    color: var(--secondary-color);
    padding: 0 5px;
    font-size: 18px;
}

/* MOBILES */
@media screen and (max-width: 767px)
{
    .home.main-banner
    {
        height: 111px;   
        border-radius: 10px;   
    }

    .home.main-banner-image
    {
        border-radius: 10px;   
    }

    .home.main-banner-text
    {
        width: 100%;
        height: 111px;                 
    }

    .home.main-banner-text p
    {
        font-size: 24px;          
    }

    .home-main-gallery
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        padding: 0; 
        margin: 10px 0;
        background-color: var(--secondary-color);               
    }
    
    .home-main-gallery-card
    {        
        width: 335px;
        height: 255px; 
        padding: 0;
        margin: 10px 0;               
    }

    .home-main-gallery-card > p
    {
        width: 295px;
        font-size: 16px;
    }
}